.border-pane {
  -fx-background-color: lightgray;
  background-color: lightgray;
}

.table-view .column-header {
  -fx-background-color: lightblue;
  background-color: lightblue;
}

/* top right corner of the header section above the scroll bars */
.table-view .column-header-background .filler {
  -fx-background-color: transparent;
  background-color: transparent;
}

/* bottom right corner between the scrollbar */
.table-view .corner {
  -fx-background-color: transparent;
  background-color: transparent;
}


.table-row-cell:odd {
  -fx-background-color: lightgray;
  background-color: lightgray;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em;
  padding: 0em;
}

.table-row-cell:even {
  -fx-background-color: white;
  background-color: white;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em;
  padding: 0em;
}

.table-view-total{
  -fx-background-color: yellow;
  background-color: yellow;
}
